body {
  color: #333;
  background-color: #ede9e5;
}

a {
  color: #666;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 2rem 1rem;
}

h1.title {
  margin-bottom: 0.5rem;
}

h2.subheader {
  color: #0faaab;
}

.button {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  display: inline-block;
  background-color: #0faaab;
  color: #ede9e5;
  padding: 1rem 2rem;
  transition: 0.5s all;
  border-radius: 0.5rem;
  &:hover,
  &:active,
  &:focus {
    background-color: darken(#0faaab, 10%);
    color: white;
  }
}

.lead {
  margin: 4rem 0;
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
}

#why-pilates {
  margin-bottom: 4rem;
}

@media (min-width: 786px) {
  .columns {
    display: flex;
    & > * {
      flex: 1;
    }
    #about {
      margin-right: 2rem;
    }
  }
}

#about {
  max-width: 480px;
  margin: 0 auto 4rem;

  .avatar {
    border-radius: 50%;
    margin: 0 2rem;
  }

  .biography {
    margin: 1rem 0 2rem;
    padding: 2rem;
    color: #ede9e5;
    background-color: #9e908d;
    p:last-child {
      margin-bottom: 0;
    }
  }
}

footer {
  text-align: center;
}
